@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    background-color: #141414;
    font-family: 'Roboto',sans-serif;
}

.container {
    width: 75%;
    height: 80%;
    margin: 10vh auto 0 auto;
    border: 1px solid white;

}

#display {
    text-align: right;
    font-size: 6.5vh;
    height: 15vh;
    background-color: white;

}

.botones{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

}
.boton{
    line-height: 10vh;
    height: 10vh;
    border: 1px solid lightgray;
    text-align: center;
    background-color: white;
    font-size: 3vh;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}

.boton:hover {
    background-color: #C8FCEA;
}

#igual {
    background-color: #00C896;
}

#igual:hover {
    background-color: #518071;
}